/* 
/* 
	Section Background (bg.css)
	
	Table of Content
	- general settings for section & subheader
	- background settings for section
	- media query
/*

 
#section-hero-3 {background:url(https://cdn.pixabay.com/photo/2018/05/18/15/30/webdesign-3411373_1280.jpg) fixed;}
 
#section-about.side-bg .background-image{background:url(../images/background/s1.jpg);}
body.custom-bg-1{background:none;}
#section-about.index-8.side-bg .background-image{background:url(../images/background/s2.jpg);}


-moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
    background-attachment:fixed;
}

/* media query */
@media only screen and (min-device-width: 768) and (max-device-width: 1024) and (orientation: portrait){
	section{
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	-o-background-size: auto 100%;
	background-size: auto 100%;
	background-attachment:scroll;
	}
}
@media only screen and (max-width: 992px) {
	#subheader{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment:scroll;
	}
}
@media only screen and (max-width: 992px) {
	section{
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	-o-background-size: auto 100%;
	background-size: auto 100%;
	background-attachment:scroll;
	}
}